USE [master]
GO
/****** Object:  Database [MyBase]    Script Date: 15.5.2024 20:28:08 ******/
CREATE DATABASE [MyBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MyBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MyBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyBase]
GO
/****** Object:  Schema [hr]    Script Date: 15.5.2024 20:28:09 ******/
CREATE SCHEMA [hr]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 15.5.2024 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[City] [nvarchar](40) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 15.5.2024 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] NOT NULL,
	[Name] [nvarchar](160) NOT NULL,
	[Price] [money] NOT NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [hr].[Employees]    Script Date: 15.5.2024 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hr].[Employees](
	[EmployeeId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([CustomerId], [Name], [City]) VALUES (1, N'Sasho Popovski', N'Skopje')
INSERT [dbo].[Customers] ([CustomerId], [Name], [City]) VALUES (2, N'David Davidsky', N'Prilep')
GO
INSERT [dbo].[Products] ([ProductId], [Name], [Price], [Quantity]) VALUES (1, N'Beer', 150.0000, NULL)
GO
USE [master]
GO
